.p-project {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.p-img {
    height: 60%;
}

.p-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;
}

.p-one {
    position: relative;
    background-color: #f565394d;
    width: 20%;
    height: 340px;
    padding: 40px 12px;
    color: #EAEAEA;
    margin: 20px;
}

.p-one>h2 {
    padding: 1px 0px 20px 0px;
}

.p-one:hover {
    background-color: #c05a3b;
}

.p-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p-icon>a>i {
    color: #EAEAEA;
    padding: 20px;
}

.p-icon>a>i:hover {
    color: rgb(33, 33, 33);
    ;
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
}

.image_overlay {
    position: absolute;
    left: 0;
    width: 80%;
    padding: 10px;
    margin-left: -12px;
    margin-top: 60px;
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
    ;
    color: #EAEAEA;
    opacity: 0;
    transition: opacity 0.25s;
}

.image_overlay>* {
    transform: translateX(20px);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover>* {
    transform: translateX(0);
}

.heading {
    font-family: 'Cinzel', serif;
    padding-top: 90px;
    font-weight: bold;
    font-size: 47px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #f56539;
}

@media screen and (max-width:769px) {
    .p-icon {
        flex-direction: row;
    }

    .p-card {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    .p-one {
        width: 80%;
        height: 300px;
    }

    .heading {
        padding-top: 30px;
        font-size: 2rem;
    }

    .p-one>h2 {
        font-size: 1.2rem;
    }

    .image_overlay {
        margin-top: 40px;
    }

}